header {
    background-color: rgb(222, 217, 226);
    padding: 20px;
    text-align:  center;
    color: #fff;
    font-weight: 700;
    height: 150px;
    display: flex;
    color: #fff;
}
ul, li {
    list-style: none;
    display: flex;
    gap: 20px;
    border: none !important;
}

a {
    text-decoration: none ;
}
.active {
    color: black;
    font-weight: 700;
}