ul {
    list-style: none;
    margin-top: 2rem;
}
li {
    border-bottom: 1px solid black;
    display: flex;
    flex-direction: column;
    width: max-content;
}
li:first-child {
    border-top: 1px solid black;
}