.container {
    display: grid;
    grid-template-columns:1fr 1fr;
    gap: 15px;
    padding: 20px;
    flex-wrap: wrap;
    width: 500px;
  }
  
  .card {
    background: #DD0000;
    padding: 20px;
    border-radius: 10px;
    color: white;
    text-align: center;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease-in-out;
  }
  
  .card:hover {
    transform: scale(1.05);
  }
  